/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#landing-section {
    height: 100vh;
    width: 100vw;
    position: absolute;
    /* background-color: aliceblue; */
}

.img-container {
    background-image: url(../img/hero-img-mobile-01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.heading {
    margin-top: 40px;
}

.heading h1 {
    color: #357239;
    margin: 0 !important;
    padding: 0;
}

.main-heading hr {
    width: 30px;
    border-top: 3px solid #357239;
    margin: 1px 0;
}

.main-heading h1 {
    font-weight: 500;
    font-size: 35px;
}

.sub-heading h1 {
    font-weight: 300;
    font-size: 30px;
}

.search-fields {
    margin-top: 35%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.form-control .selected {
    color: #1563C9 !important;
}

.glyphIconMethod {
    display: inline-block;
    position: relative;
}

.glyphIconMethod::after {
    content: "\f0d7";
    font-family: 'FontAwesome';
    font-size: 30px;
    position: absolute;
    right: 2.5rem;
    top: 0%;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(90deg, #2E8721 0%, #50C954 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.result-item {
    position: relative !important;
    left: 0 !important;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer p {
    margin-bottom: 10px;
}

.para-01, .para-01 a {
    font-size: 13px;
    color: #2E8721;
    font-weight: 500;
    margin-bottom: 0 !important;
}

.para-02 {
    color: #b5b5b5;
    font-size: 10px;
}
.para-02 span {
    color: #1563C9;
}

@media (min-width: 768px) {
    .img-container {
        background-image: url(../img/hero-img-desktop-01.jpg);
        position: fixed;
        top: 0;
        left: 0;
        height: 70%;
    }

    .heading {
        margin-top: 7%;
    }

    .main-heading h1 {
        font-size: 48px;
    }

    .sub-heading h1 {
        font-size: 43px;
    }

    .search-fields {
        margin-top: 7.5%;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

.isotope:after {
    content: '';
    display: block;
    clear: both;
}

.form-control {
    border: 1px solid #2E8721;
}

.form-control-lg {
    border-radius: 50px;
    padding: .5rem 1.5rem;
}

.btn {
    background: linear-gradient(90deg, #2E8721 0%, #50C954 100%);
    color: #fff;
}

.btn:hover {
    color: #efefef;
}

.btn-lg {
    border-radius: 20px;
}

@media (min-width: 1366px) {
    .container-fluid {
        padding-right: 115px;
        padding-left: 115px;
    }
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}